#top-spacing {
    height:100px;
}


#header {
    width: 400px;
    height: 75px;
    margin: 10px auto;
    font-family: sans-serif;
    font-weight: bold;
    color:#4d88ff;
    padding: 30px;
    text-align: center;
}

.container {
    height:400px;
    width:400px;
}

#input_box {
    margin:auto;
}

.main-box {
    width:85px;
    margin: auto;
}


.again-hint-box {
    margin: auto;
    width: 200px;
    
}

body {
    background-color: #e5eeff;
}