
#header {
    width: 400px;
    height: 75px;
    margin: 10px auto;
    font-family: sans-serif;
    font-weight: bold;
    color:#4d88ff;
    padding: 30px;
    text-align: center;
}

#guessanswer {
    visibility: hidden;
    text-align: center;
    color: red;
}

#trophy {
    visibility: hidden;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    margin: auto;
    display: block;
}


.container {
    height:400px;
    width:400px;
}

#input_box {
    margin:auto;
}

.main-box {
    width:85px;
    margin: auto;
}

#guess-counter {
    text-align: center;
    color: red;
}

.again-hint-box {
    margin: auto;
    width: 200px;
    
}

body {
    background-color: #e5eeff;
}